[submodule "firmware/tests/googletest"]
	path = firmware/tests/googletest
	url = https://github.com/google/googletest.git
[submodule "firmware/third-party/etl"]
	path = firmware/third-party/etl
	url = https://github.com/ETLCPP/etl.git
