# Minimum version of pre-commit
minimum_pre_commit_version: "2.9.0"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # Prevent committing directly to the main branch
      - id: no-commit-to-branch
        args: [--branch, main]
        stages: [pre-commit]
    
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
    - id: clang-format
      require_serial: true
      stages: [pre-commit]

  - repo: local
    hooks:
    - id: pio-check
      name: Platform IO Static Analysis
      entry: bash scripts/static_analysis/static_analysis.sh
      language: system
      stages: [pre-commit]